{% extends "SDCoreBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} Contact
{% endblock %}

{% block body %}
    <div id="head">
        <div class="container">
            <img src="{{ asset('images/newmoon.png') }}" width="150px">
            <img src="{{ asset('images/croissant.png') }}" width="150px">
            <img src="{{ asset('images/quarter.png') }}" width="150px">
            <img src="{{ asset('images/decroissant.png') }}" width="150px">
            <img src="{{ asset('images/fullmoon.png') }}" width="150px">
        </div>
    </div>
    <div id="Contact">
        <h1 class="container">Me contacter</h1>
    </div>
{% endblock %}